body {
  background-color: rgb(243, 233, 233);
}

.page {
  height: 88vh;
}

.box {
  background: linear-gradient(to bottom right, #cd969e, #d2966a);
  width: 500px;
  height: 700px;
  margin: 10vh auto 0 auto;
  padding: 15px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-area {
  /* background-color: blanchedalmond; */
  width: 80%;
  margin: 20px auto 15px auto;
}

.input-times {
  display: block;
  width: 98%;
  border: 2px solid rgb(233, 178, 105);
  border-radius: 9px;
  margin-bottom: 15px;
  padding-top: 10px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.input-times:focus{
  outline: none;
}

.btn-submit {
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 15px 0 10px 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: rgb(233, 178, 105);
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
}

.btn-submit:focus{
  outline: 0;
}

.result-area {
  width: 80%;
  margin: 100px auto 15px auto;
  color: #ffffff;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.result-area h2{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.result-text {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: rgb(233, 178, 105);
  padding: 30px 40px;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
